body {background-color:#d7c6cf	;}
body {color:#4B3832}
h1, h2 {color: #4B3832;}
nav a:visited {color: #dfdfde}
nav a:hover {background-color:#8caba8}
h2, h1 {background-color: #a2798f;}
nav a {color: #a2798f;}
nav a {padding: 10px}
nav a {margin-bottom: 30px;}